*{
   margin:5px;
   padding:5px;
   list-style:none;
}

header{
   /* margin: top right bottom left*/
   /*margin : vertical horizontal*/
   position:relative;
   height:60px;
   text-align: left;
   text weight: bold;
   font-size: 40px;
   margin: auto;

}
.climate ul li{
  float:left;
  width:323px;
  height:500px;
  margin-right: 10px;
  text-align: center;
  padding-top: 5px;

}
.climate ul li h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding-top: 20px;
}
footer{
    position:relative;
    width:1000px;
    height:70px;
    background:#006400;
    margin:20px auto;
    text-align:center;
    line-height: 70px;
    color:white;
